[submodule "React/react/react-fundamentals"]
	path = React/react/react-fundamentals
	url = https://github.com/kentcdodds/react-fundamentals.git
[submodule "React/whatsapp/react/whatsapp/tuto-ovrsea"]
	path = React/whatsapp/react/whatsapp/tuto-ovrsea
	url = https://github.com/pierrelavalette/tuto-ovrsea.git
